div#lendhty-news {
    border-top: 1px solid #F6F6F6;
    padding-top: 20px;
}

h3.right-cont-head, .right-cont-head-recommend {
    text-align: left;
    padding-left: 30px;
    color: #fff;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif !important;
}

.getanapp-img-outer {
    position: relative;
}

.getanapp-img-outer h2 {
    margin: 0px;
    color: #fff;
    text-align: left;
    font-size: 60px;
    font-family: 'grnotch';
    letter-spacing: 1px;
    font-weight: 500;
    max-width: 380px;
    line-height: 1;
    position: absolute;
    bottom: 65px;
    left: 50px;
}

div#lendhty-news {
    border-top: 1px solid #F6F6F6;
    padding-top: 20px;
}

h3.right-cont-head {
    text-align: left;
    padding-left: 30px;
    color: #fff;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif !important;
    margin-bottom: 50px;
    margin-top: 50px;
}

.getanapp-img-outer {
    position: relative;
}

.getanapp-img-outer h2 {
    margin: 0px;
    color: #fff;
    text-align: left;
    font-size: 60px;
    font-family: 'grnotch';
    letter-spacing: 1px;
    font-weight: 400;
    max-width: 380px;
    line-height: 1;
    position: absolute;
    bottom: 65px;
    left: 50px;
}

.cmn-stp-dtl h4, .cmn-stp-dtl h5 {
    margin: 0px;
    color: #fff;
}

.cmn-stp-dtl {
    text-align: left;
}

.numeric-part {
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 50%;
    color: #000 !important;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Josefin Sans', sans-serif !important;
}

.cmn-stp-dtl h4 {
    padding: 15px 0;
    font-family: 'Josefin Sans', sans-serif !important;
}

.cmn-stp {
    display: flex;
}

.cmn-stp-img {
    padding: 0 20px;
}

.cmn-stp-img img {
    width: 200px;
    /* max-width: 200px; */
    /* min-width: 200px; */
}

.step-1-htp.cmn-stp img {
    width: 210px;
}

.step-1-htp-img.cmn-stp-img {
    margin-left: -5px;
}

.steps-follow {
    height: 100%;
}

.steps-follow {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.getanapp-img-inner-bg img {
    width: 100%;
}

.getanapp-img-inner img {
    width: 100%;
}

.getanapp-img-inner img {
    width: 100%;
}

h2.white-text, h2.yellow-text {
    margin: 0px;
    text-align: right;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 1px;
    font-family: 'grnotch';
    line-height: 1;
}

h2.white-text {
    color: #fff;
}

h2.yellow-text {
    color: #FFD500;
    text-shadow: 0px 4px 14px rgba(255, 213, 0, 0.79);
}

.getanapp-img-inner-right-img img {
    height: 50px;
    margin-left: 15px;
    margin-top: 20px;
}

.getanapp-img-inner-right-img {
    text-align: right;
}

.getanapp-img-outer-right-img {
    position: relative;
    top: 40px;
}

.getanapp-img-outer-left-img {
    position: relative;
    top: 30px;
}


.home-blog-content p span, .home-blog-content p, .home-blog-content h2, .home-blog-content h2 strong, .home-blog-content h1, .home-blog-content h1 strong {color: #fff !important;text-align: left !important; background: none !important;}


.home-blog-content img {border-radius: 10px !important; margin: 40px 0 !important;}

.home-blog-content p span, .home-blog-content p{font-size:15px !important;line-height: 27px;}

.home-blog-content h2, .home-blog-content h2 strong, .home-blog-content h1, .home-blog-content h1 strong{font-size: 27px !important;}

.back-button-blog{
    margin-top: 20px;
    background: #f2cb09;
    border-radius: 10px;
    font-size: 16px;
    color: #fff;
    padding: 0px 20px 10px 10px;
    border: none;
    cursor: pointer;
}

button.back-button-blog svg {position: relative;top:5px}


@media (max-width:767.98px){

.cmn-stp-img {
    margin-left: 0;
    text-align: left;
}
.cmn-stp-dtl {
    text-align: left;
    margin-top: 15px;
    margin-bottom: 30px;
}
.cmn-stp-img {
    padding: 0px;
}
.cmn-stp{flex-direction: column;}

.steps-follow {
    margin-top: 40px;
}

.getanapp-img-inner-left-img img {
    width: 200px;
    height: auto;
    position: relative;
    margin-top: -190px;
    margin-left: -50px;
}

h3.right-cont-head{padding-left: 0px !important;}

}


@media (min-width:576px) and (max-width:767.98px){

div#grid-left, div#grid-right {
    max-width: 49% !important;
}

div#grid-right {
    margin-top: -190px;
}

.cmn-stp {
    flex-direction: row;
}

.cmn-stp-dtl {
    padding-left: 15px;
}

.getanapp-img-inner-right-img img {
    width: 95px;
    height: auto;
    margin-left: 10px;
}

}


@media (max-width:1199.98px){

.slick-slider{display: none;}

}



@media (min-width:768px) and (max-width:1199.98px){

    .cricimg{margin-top:0px !important}
    .banner-caption h1{font-size: 70px !important;}

}