<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <style>
    body {
      font-family: Arial, Helvetica, sans-serif;
    }

    table {
      width: 100%;

    }

    .container {
      padding-left: 40px;
      font-family: Arial, Helvetica, sans-serif;
    }

    .footer-table {
      font-family: Arial, Helvetica, sans-serif;
      height: 120px;
      background-color: #000000;
      border: none;
      color: white !important;
      margin-top: 70px;
      display: flex;
      justify-content: center;
      padding: 20px;
    }
  </style>
</head>

<body>
  <div style="width:60%">
    <table>
      <tr style="background-color:#000000 ;">
        <td ><img src="https://www.cifdaq.in/front-end/wp-content/uploads/2021/12/logo-n.png" alt="imgae" style="width: 150px;"/>
        </td>
      </tr>
      <!-- <tr style="background-color:#000000 ;">
        <td>
          <hr />
        </td>
      </tr> -->
    </table>
    <table class="container">
      <tr>
        <td>
          <h3 class="headling" style="text-align: left;font-size: 35px;color: #711E82;font-weight: bold;">
            Reset your Cifdaq password</h3>
        </td>
      </tr>
      <tr>
        <td>Hello, <%= name %></td>
      </tr>
      <tr>
        <td>Your OTP for Reset Password is:</td>
      </tr>
      <tr>
        <td style="font-weight: bold;font-size: 40px; padding-top: 20px;">
          <%= token %>
        </td>
      </tr>
      <tr>
        <td style=" padding-top: 20px">We're here to help if you need it. Visit the <a
            style="text-decoration: underline;color: #00b482;" href="">Cifdaq
            Support</a><br>
          for more info or <a style="text-decoration: underline;color: #00b482;">Contact us.</a> </td>
      </tr>
      <tr>
        <td style="padding-top: 20px;">Thank you.</td>
      </tr>
      <tr>
        <td><img src="https://www.cifdaq.in/front-end/wp-content/uploads/2021/12/logo-n.png" alt="" style="width: 150px;">
        </td>
      </tr>
      <!--footer table-->
    </table>
    <table class="footer-table">
      <tr>
        <td>
      <tr>
        <td style="  display: flex;justify-content: center;">   Copyright 2022 CIFDAQ Ltd. All Rights Reserved.</td>
      </tr>
      <tr>
        <td>
          <a href="" style="color: #711E82;text-decoration: underline;">Imprint | Terms of use |Privacy Policy
            | Terms & Conditions</a>
        </td>

      </tr>
  </div>
  </div>
</body>

</html>