ul.foot-list {
    list-style: none;
    /* margin: 0px; */
    padding-left: 0px;
}

ul.foot-list li a {
    text-decoration: none;
    color: #959595;
    font-size: 13px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    padding-right: 40px;
    margin-top: 20px;
    display: inline-block;
    padding-bottom: 20px;
}

ul.foot-list {
    display: flex;
    margin-bottom: 30px;
    border-bottom: 9px double #f4f4f4;
}

.footer-link {
    padding-right: 0;
    width: 95%;
    margin: 0 auto;
}

.bottom-content p{
    margin-bottom: 0px;
    color: #959595;
    font-size: 13px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 30px;
}

.white-side {
    height: 100%;
    display: block;
    background: #f8f8f8;
}

.bottom-fixed-bar {display: none !important;}

.menu-mobile{display: none !important;}

.bottom-fixed-bar a {
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (max-width:991.98px){

ul.foot-list{flex-wrap: wrap;}
.target-live-score-high.left, .block-point-outer {
    padding-left: 0 !important;
}
.top-block h2 {
    padding-left: 0 !important;
}
.top-block span {
    padding-left: 0 !important;
}
.top-block {
    padding: 20px;
    background: #000;
}
.target-live-score {
    width: 100% !important;
}

.scoreboard {
    margin-top: 40px !important;
    padding-left: 35px !important;
    padding-right: 20px !important;
}

.score-on-process-priorityleft, .score-on-process-priorityright{text-align: left;}

.tab-mid-part-tabs.MuiBox-root .MuiTabs-flexContainer {
    width: 100% !important;
    flex-wrap: wrap;
}

.tab-mid-part-tabs.MuiBox-root button{padding-left: 0px !important;}

.tab-mid-part-tabs span.MuiTabs-indicator{display: none;}

.tab-mid-part .tab-mid-part-tabs .Mui-selected {
    color: #f7d00b !important;
}

.tab-mid-part .MuiBox-root.css-19kzrtu {
    padding-left: 0px;
    padding-right: 0px;
}

.tab-mid-part {
    position: relative;
    left: 0px;
}

.bottom-content p {
    padding: 20px !important;
    margin-top: 0px !important;
    margin-bottom: 70px !important;
}

ul.foot-list li a {
    padding-right: 20px !important;
    margin-top: 10px !important;
    padding-bottom: 10px !important;
}

h3.bottom-block-head {
    position: relative;
    left: -10px;
    margin: 10px 0;
}


.video-cric{margin-top: -5px !important;}

.add-banner-right-in-video {
    position: relative !important;
    top: 0 !important;
    right: 0 !important;
    text-align: center !important;
    background: #000 !important;
    padding: 20px 0;
    margin-top: -6px;
}

.video-cric::before{top:0px !important}

.menu-mobile button {
    color: #fff;
}
.menu-mobile{
    text-align: right;
}

}


@media (max-width:1199.98px){

.desktop-view {display: none !important;}
.menu-mobile{display: block !important;}
.bottom-fixed-bar {
    display: block !important;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 999;
}
.bottom-fixed-bar .MuiBottomNavigation-root {
    background: #000 !important;
    border-radius: 10px 10px 0 0;
}
.bottom-fixed-bar .MuiBottomNavigation-root button {
    color: #fff;
}

.headmain-menu {
    display: none;
}

.headmain .headmain-logo {
    padding: 10px 0 !important;
}

.headmain .MuiGrid-container {
    margin-top: 0px !important;
}

.headmain {
    margin-bottom: 5px !important;
    background: #202020 !important;
    padding-bottom: 5px;
}

.bottom-fixed-bar .MuiBottomNavigation-root button.Mui-selected{color: #f7d00b !important;}

div#long-menu ul li {
    padding-top: 5px;
    padding-bottom: 5px;
}

}


@media (max-width:767.98px){

.footer-link {
    padding-right: 0;
    width: auto;
    margin: 0 auto;
    padding: 0 20px;
}

ul.foot-list li {
    width: 100%;
}

}